[Desktop Entry]
Type=Application
Version=0.1.0
Name=Concentrate
Comment=Focus tracker
Exec=concentrate
Icon=concentrate
Terminal=false
Categories=Utility;Productivity;
StartupNotify=true
StartupWMClass=concentrate
