[Desktop Entry]
Type=Application
Version=1.0
Name=Concentrate
Comment=Focus tracker
Exec=sh -c 'Concentrate --logdebug >> /tmp/concentrate.log 2>&1'
Icon=concentrate
Terminal=false
Categories=Utility;Productivity;
StartupNotify=true
StartupWMClass=Concentrate
